########################################
# QIDI X-Pro Retrofit
# Dual Independent Extruders
# BIGTREETECH Manta M8P V2.0
########################################

########################################
# Extruder 0 - M4
########################################

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 32.8449
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA0
sensor_pin: PB0
sensor_type: Generic 3950

min_extrude_temp: 0
min_temp: 0
max_temp: 320
max_extrude_only_distance: 100


########################################
# Extruder 1 - M5
########################################

[extruder1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 32.8449
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_pin: PC5
sensor_type: Generic 3950

min_extrude_temp: 0
min_temp: 0
max_temp: 320

max_extrude_only_distance: 100

