########################################
# QIDI X-Pro Retrofit
# Heaters Configuration
# BIGTREETECH Manta M8P V2.0
########################################


########################################
# Heated Bed
########################################

[heater_bed]

# Manta M8P V2.0 HEAT BED output
heater_pin: PF5

# Bed thermistor
sensor_pin: PB1
sensor_type: Generic 3950


min_temp: 0
max_temp: 120
