########################################
# Inductive Probe
# QIDI X-Pro
########################################

[probe]
pin: ^!PD8

x_offset: 0
y_offset: 0
z_offset: 0

speed: 5
samples: 3
samples_result: median
sample_retract_dist: 3
