########################################
# QIDI X-Pro Retrofit
# BIGTREETECH Manta M8P V2.0
# Motion System
# Cartesian - Single Z
########################################


[stepper_x]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 33.7298055705
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -14
position_min: -14
position_max: 262
homing_speed: 30
homing_retract_dist: 0

[stepper_y]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 33.7298055705
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -4
position_min: -4
position_max: 154
homing_speed: 30
homing_retract_dist: 0

[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 8
endstop_pin: ^!PF2
position_endstop: 0
position_max: 155.1
position_min: -1
homing_speed: 30
second_homing_speed: 10
homing_retract_dist: 2

