########################################
# QIDI X-Pro Retrofit
# BIGTREETECH Manta M8P V2.0
# Klipper
########################################


########################################
# Includes
########################################

[include qidi_xpro/steppers.cfg]
[include qidi_xpro/tmc2209.cfg]
[include qidi_xpro/extruders.cfg]
[include qidi_xpro/heaters.cfg]
[include qidi_xpro/fans.cfg]
[include qidi_xpro/adxl345.cfg]

########################################
# MCU
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_34002F000A51333231343036-if00

########################################
# Printer
########################################

[printer]

kinematics: cartesian

max_velocity: 300
max_accel: 3000

max_z_velocity: 5
max_z_accel: 100

[extruder]
#control: pid
#pid_Kp: 26.183
#pid_Ki: 2.129
#pid_Kd: 80.513

[extruder1]
#control: pid
#pid_Kp: 23.451
#pid_Ki: 1.839
#pid_Kd: 74.751

[heater_bed]
#control: pid
#pid_Kp: 73.294
#pid_Ki: 3.152
#pid_Kd: 426.020

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 64.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 31.2
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.045
#*# pid_ki = 2.342
#*# pid_kd = 78.091
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 24.271
#*# pid_ki = 1.881
#*# pid_kd = 78.275
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.591
#*# pid_ki = 3.361
#*# pid_kd = 391.989
