########################################
# QIDI X-Pro Retrofit
# BIGTREETECH Manta M8P V2.0
# Klipper
########################################


########################################
# Includes
########################################

[include qidi_xpro/steppers.cfg]
[include qidi_xpro/tmc2209.cfg]
[include qidi_xpro/extruders.cfg]
[include qidi_xpro/heaters.cfg]
[include qidi_xpro/fans.cfg]


########################################
# MCU
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_34002F000A51333231343036-if00


########################################
# Printer
########################################

[printer]

kinematics: cartesian

max_velocity: 300
max_accel: 3000

max_z_velocity: 5
max_z_accel: 100
