########################################
# QIDI X-Pro Retrofit
# Dual Independent Extruders
# BIGTREETECH Manta M8P V2.0
########################################

########################################
# Extruder 0
########################################

[extruder]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15

microsteps: 16
rotation_distance: 33.500

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: PA0
sensor_pin: PB0
sensor_type: Generic 3950

control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114

min_temp: 0
max_temp: 320


########################################
# Extruder 1
########################################

[extruder1]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11

microsteps: 16
rotation_distance: 33.500

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: PA1
sensor_pin: PC5
sensor_type: Generic 3950

control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114

min_temp: 0
max_temp: 320

