########################################
# QIDI X-Pro Retrofit
# Fans Configuration
# BIGTREETECH Manta M8P V2.0
########################################


########################################
# Part Cooling Fan
########################################

[fan]
pin: PF7


########################################
# Hotend 0 Cooling Fan
########################################

[heater_fan hotend_fan_0]
pin: PF9

heater: extruder
heater_temp: 50.0


########################################
# Hotend 1 Cooling Fan
########################################

[heater_fan hotend_fan_1]
pin: PF6

heater: extruder1
heater_temp: 50.0
